:root {
  --Preto: #0c0b0b;
  --Cinza: #0f0e0e;
  --Branco: #b7b7b7;
  --Verde: #046313;
  --Azul: #044a7d;
  --Amarelo: #725200;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--Preto);
}

.container {
  background: var(--Cinza);
  width: 50rem;
  height: 20rem;
  margin-top: 10rem;
  margin-left: 17rem;

  color: var(--Branco);
}

.perfil-container {
  display: flex;
  justify-content: space-evenly;
}

.container-numeros {
  padding-top: 132px;

  display: flex;
  justify-content: space-evenly;
}

#foto {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
