:root {
  --Preto: #0c0b0b;
  --Cinza: #0f0e0e;
  --Branco: #b7b7b7;
  --Verde: #046313;
  --Azul: #044a7d;
  --Amarelo: #725200;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--Preto);
  font-family: "Rubik";
}

.container {
  background: var(--Cinza);
  width: 50rem;
  height: 20rem;
  margin-top: 10rem;
  margin-left: 17rem;

  color: var(--Branco);

  border-radius: 20px;
}

.perfil-container {
  display: flex;
  justify-content: space-evenly;
}

.container-numeros {
  padding-top: 25px;

  display: flex;
  justify-content: space-evenly;
}

.perfil-container > img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.perfil-container > img {
  margin-left: -130px;
  margin-top: 20px;
}

.nome {
  margin-left: -160px;
  margin-top: 70px;
}

.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;

  margin-right: -200px;
  margin-top: 70px;

  padding: 10px;

  background: var(--Preto);
  color: var(--Branco);

  display: flex;
  align-items: center;
}

.button > img {
  width: 20px;
  height: 20px;
}

.projetos {
  background: var(--Verde);
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;

  border-radius: 10px;
}

.projetos > p,
h3 {
  margin-left: -20px;
}

.projetos > h3 {
  font-size: 35px;
}

.estrelas {
  background: var(--Azul);
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;

  border-radius: 10px;
}

.estrelas > p,
h3 {
  margin-left: -20px;
}

.estrelas > h3 {
  font-size: 35px;
}

.seguidores {
  background: var(--Amarelo);
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;

  border-radius: 10px;
}

.seguidores > p,
h3 {
  margin-left: -20px;
}

.seguidores > h3 {
  font-size: 35px;
}
